<p id="notice"><%= notice %></p>

<p>
  <strong>Band:</strong>
  <%= @album.band.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
  <ul>
    <% @album.tracks.each do |track| %>
      <li><%= link_to track.name, track_url %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
