<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
  <br>
  <ul>
  <% @albums.each do |album| %>
    <li><%= link_to album.title, album_url  %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
